.intro-guy {
  width: 80%;
  position: relative;
}

#svg-master {
  width: 500px;
  height: 500px;
}

#palm {
  transform: translateX(50px);
}

#b-note {
  fill: #000;
  transform: translateX(100px);
}
