// SASS VARIABLES
$main-orange: #ffa500;
$off-white: #f9f9f9;
$dark-grey: #222222;
$alt-blue: complement($main-orange);
$century: "Century Gothic", sans-serif;
$text-shadow: -1px -1px 0 #ffa500, 1px -1px 0 #ffa500, -1px 1px 0 #ffa500,
  1px 1px 0 #ffa500;

%flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

// GENERAL SETTINGS
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
  font : {
    size: 10px;
    family: "montserrat", sans-serif;
  }
  text-align: center;
  z-index: 1;
  &::selection {
    background-color: transparentize($main-orange, 0.3);
  }
}

body {
  background-color: $off-white;
  @extend %flex-center-column;
}

section {
  width: 80%;
  margin: 5% auto;
  @extend %flex-center-column;
  @media screen and (min-width: 650px) {
    width: 60%;
  }
}

.home-button {
  position: fixed;
  display: none;
  top: 5px;
  right: 5px;
  color: $main-orange;
  z-index: 10;
  transition: transform 0.5s ease, color 0.5s ease;
  &:hover {
    transform: scale(1.05) translateY(5px);
    color: $alt-blue;
  }
  i {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 15px;
}

p,
strong,
em,
a {
  font-size: 1.5rem;
}

p a {
  position: relative;
  display: inline-block;
  color: $main-orange;
  cursor: pointer;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  &:hover,
  &:focus,
  &:active {
    color: $alt-blue;
    &:after {
      width: 100%;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: relative;
    bottom: 1px;
    background-color: $alt-blue;
    opacity: 0.5;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
}
// INTRO SECTION
.intro-wrapper {
  height: 100vh;
  width: 100%;
}
.intro {
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

#title-name {
  white-space: nowrap;
  margin: 40px auto 15px auto;
  span {
    font : {
      size: 3rem;
      family: $century;
      weight: 600;
    }
    cursor: crosshair;
    color: $off-white;
    letter-spacing: 0.2rem;
    -webkit-text-stroke: 1px $main-orange;
    transition: 0.3s ease-in;
    &:hover,
    &:focus {
      color: orange;
    }
    &::selection {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.slide-link {
  color: transparentize($main-orange, 0.3);
  font-size: 2rem;
  margin: auto 10px;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1) translate(0px, 3px);
    &:after {
      width: 100%;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: relative;
    bottom: -3px;
    background-color: $main-orange;
    opacity: 0.8;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
}

.resume {
  font-size: 0.9rem;
  font-weight: 600;
  color: $off-white;
  text-decoration: none;
  padding: 5px 10px;
  margin: 20px;
  border-radius: 4px;
  transition: all 0.5s ease;
  background-color: $main-orange;
  &:active,
  &:hover,
  &:focus {
    color: invert($main-orange, 50%);
    background-color: darken($off-white, 10%);
    padding: 5px 15px;
  }
}

#svg-master {
  width: 90%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
}

.fa-chevron-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: $main-orange;
  animation: chevron-slide 3s ease-in-out infinite;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    color: $alt-blue;
    opacity: 1;
  }
}
@keyframes chevron-slide {
  50% {
    transform: translate(-50%, 10px);
    opacity: 1;
  }
}

// ABOUT SECTION

.accordion {
  cursor: pointer;
  transition: transform 0.4s ease, color 0.4s ease;
  &:hover {
    transform: scale(1.1) translate(5px, 5px);
    color: $main-orange;
  }
  &:after {
    content: "\02795";
    font-size: 1rem;
    color: #000;
    position: relative;
    bottom: 5px;
    left: 10px;
  }
}
.active {
  color: $main-orange;
  &:after {
    content: "\2796";
  }
}

.about-text {
  height: 0px;
  overflow: hidden;
  text-align: justify;
  transition: height 0.6s ease-out;
}

// TOOLS SECTION

.tools-grid {
  height: 0px;
  transition: height 0.5s ease-out;
  overflow: hidden;
  max-width: 700px;
  p {
    text-align: justify;
    margin: 20px;
  }
}

.grid-border {
  display: grid;
  grid-template:
    "front front back back"
    "tools tools tools tools"
    "design design design design";
  //
  grid-gap: 3px;
  border: 3px $main-orange solid;
  border-radius: 3px;
  background-color: $main-orange;
  width: 100%;
  div {
    background-color: $off-white;
    color: $main-orange;
    padding: 15px;
  }
  p {
    text-align: center;
    font-size: 1.2rem;
    margin: 5px;
    color: $alt-blue;
  }
}

.front-end-tools {
  grid-area: front;
}
.back-end-tools {
  grid-area: back;
}
.system-tools {
  grid-area: tools;
}
.design-tools {
  grid-area: design;
}

// PROJECTS

.projects {
  h2 {
    width: 100%;
    margin-bottom: 30px;
  }
}

img,
video {
  width: 100%;
  height: 200px;
  cursor: crosshair;
  object-fit: cover;
  border-radius: 5px;
}

// IMPORTANT -- DO NOT CHANGE THIS!
.demo-gif {
  display: none;
}

.project-wrapper {
  position: relative;
  width: 110%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  margin: 10px;
  transition: all 0.6s ease;
  &:hover {
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.35),
      -10px 10px 15px -10px rgba(0, 0, 0, 0.35),
      -0px 10px 15px -10px rgba(0, 0, 0, 0.35);
  }

  a,
  em {
    color: $main-orange;
  }
}

.project-text {
  position: absolute;
  top: -10px;
  left: 0%;
  bottom: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparentize(#000, 0.5);
  border-radius: 5px;
  em {
    font-weight: 600;
  }
  p {
    position: relative;
    left: 10%;
    width: 75%;
    text-align: left;
    color: #fff;
    font-size: 1.2rem;
  }
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.5s ease;
  &:hover {
    opacity: 1;
    transform: translateY(10px);
  }
}

.project-links {
  display: flex;
  justify-content: center;
  a {
    pointer-events: none;
    display: inline;
    font-size: 1.2rem;
    background-color: transparentize(#000, 0.2);
    border-left: 2px solid orange;
    border-bottom: 2px solid orange;
    border-radius: 2px;
    padding: 5px;
    margin: 20px 15px 10px;
    transition: transform 0.5s ease, color 0.5s ease;
    &:hover {
      color: $off-white;
      transform: scale(1.05) translate(3px, 5px);
    }
  }
}

// MORE SOON - FLIP CARD
.more-soon {
  max-width: 400px;
  min-height: 200px;
  width: 110%;
  height: 100%;

  //flip
  perspective: 400px;
  &:hover .flipper,
  .flip-card .flipper {
    transform: rotateX(-180deg);
  }
  .flipper {
    max-width: 400px;
    min-height: 200px;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  .front-card,
  .back-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .front-card {
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: rotateX(0deg);
    box-shadow: inset 0px 0px 10px 0px rgba(184, 184, 184, 0.8);
  }
  .back-card {
    width: 100%;
    height: 100%;
    transform: rotateX(180deg);
    color: $off-white;
    background-color: $main-orange;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(184, 184, 184, 0.8);
  }
}
.fa-plus {
  color: $main-orange;
  font-size: 2rem;
}

// CONTACT SECTION

.contact p {
  max-width: 80%;
  text-align: center;
}
.shoot-email {
  margin: 20px;
  color: $off-white;
  background-color: $main-orange;
  text-decoration: none;
  padding: 5px 10px;
  border : {
    bottom: solid 3px $off-white;
    right: solid 3px $off-white;
    radius: 4px;
  }
  box-shadow: 3px 3px 0px 0px $main-orange;
  transition: all 0.5s ease;
  &:hover {
    color: $main-orange;
    background-color: $off-white;
    padding: 5px 20px;
    box-shadow: 3px 3px 0px 0px $main-orange,
      2px 5px 10px -2px rgba(0, 0, 0, 0.5);
    border: solid 3px $main-orange;
  }
}

// FOOTER
footer {
  @extend %flex-center-column;
  padding: 20px;
  background-color: $dark-grey;
  width: 100%;
  .fab {
    color: $off-white;
    background-color: lighten($dark-grey, 20%);
    font-size: 1.5rem;
    margin: 5px 3px;
    padding: 15px;
    transition: all 0.5s ease;
    border-radius: 3px;
    &:hover {
      transform: scale(1.2);
    }
  }
  .fa-angellist:hover {
    background-color: #000;
  }
  .fa-linkedin:hover {
    background-color: #0e76a8;
  }
  .fa-github:hover {
    background-color: #6e5494;
  }
  .fa-codepen:hover {
    background-color: #76daff;
  }
  .fa-hackerrank:hover {
    background-color: #2ec866;
  }
  .fa-instagram:hover {
    background: #d6249f;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
  }
  .fa-spotify:hover {
    background-color: #1db954;
  }
  p {
    font-size: 1rem;
    padding: 10px;
    color: $off-white;
  }
}

// SWITCH SCREEN LAYOUT ABOVE 1024p

@media screen and (min-width: 1024px) {
  * {
    font-size: 15px;
  }

  .intro {
    width: 100%;
  }
  // projects section flexbox
  .projects {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1400px) {
  #svg-master {
    max-width: 600px;
    max-height: 600px;
  }
}
