* {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

// SASS VARIABLES

$primary-color: orange;
$font-family: "Century Gothic", sans-serif;
$text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

// HEADER //

header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  overflow: hidden;
  min-width: 100%;
}

.header-name {
  white-space: nowrap;
  span {
    font-size: 10rem;
    color: orange;
    font-family: $font-family;
    text-shadow: $text-shadow;
    transition: color 0.5s ease-in;
    &:hover {
      color: #fff;
    }
  }
}
#header-logo {
  display: inline;
  width: 100px;
  transition: fill 0.5s ease-in;
  &:hover {
    fill: #fff;
  }
}
