// SASS VARIABLES
$main-orange: orange;
$off-white: #f9f9f9;
$century: "Century Gothic", sans-serif;
$text-shadow: -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange,
  1px 1px 0 orange;

%flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

// GENERAL SETTINGS
* {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "montserrat", sans-serif;
  text-align: center;
  z-index: 1;
  &::selection {
    background-color: transparentize($main-orange, 0.3);
  }
}

body {
  background-color: $off-white;
  @extend %flex-center-column;
}

section {
  width: 80%;
  @extend %flex-center-column;
}

// INTRO SECTION
.intro-wrapper {
  height: 100vh;
  width: 100%;
}
.intro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#title-name {
  white-space: nowrap;
  margin: 10% auto 5% auto;
  span {
    font-size: 3rem;
    cursor: crosshair;
    color: $off-white;
    font-family: $century;
    letter-spacing: 0.09rem;
    -webkit-text-stroke: 1px $main-orange;
    transition: 0.3s ease-in;
    &:hover {
      color: orange;
    }
  }
}

.fab {
  color: transparentize($main-orange, 0.3);
  font-size: 2rem;
  margin: auto 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1) translate(0px, 3px);
    border-bottom: 2px solid $main-orange;
    padding-bottom: 3px;
  }
  &::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: rgb(100, 255, 218);
    opacity: 0.5;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
}
.intro-dude {
  margin: 5%;
  margin-top: 50px;
  max-width: 450px;
  max-height: 450px;
}
#svg-master {
  width: 100%;
  height: auto;
}

.fa-chevron-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: $main-orange;
  animation: chevron-slide 3s ease-in-out infinite;
  opacity: 0;
  cursor: pointer;
}
@keyframes chevron-slide {
  50% {
    transform: translate(-50%, 10px);
    opacity: 1;
  }
}

// ABOUT SECTION
.accordion {
  cursor: pointer;
  &:after {
    content: "\02795";
    font-size: 1rem;
    color: #000;
    position: relative;
    bottom: 5px;
    left: 10px;
  }
  transition: transform 0.2s ease, color 0.2s ease;
  &:hover {
    transform: scale(1.1) translate(5px, 5px);
    color: $main-orange;
  }
}
.active {
  color: $main-orange;
  &:after {
    content: "\2796";
  }
}

.about-text {
  text-align: justify;
  height: 0px;
  overflow: hidden;
  transition: height 0.6s ease-out;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 15px;
}

p,
strong,
em,
a {
  font-size: 1.5rem;
}

a {
  color: $main-orange;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: complement($main-orange);
  }
}

// TOOLS SECTION

.tools-grid {
  height: 0px;
  transition: height 0.5s ease-out;
  overflow: hidden;
}
.grid-border {
  display: grid;
  grid-template:
    "front front back back"
    "tools tools tools tools"
    "design design design design";
  //
  grid-gap: 3px;
  border: 3px $main-orange solid;
  border-radius: 3px;
  background-color: $main-orange;
  width: 100%;
  div {
    background-color: $off-white;
    color: $main-orange;
    padding: 10px;
  }
  p {
    text-align: left;
    font-size: 1.2rem;
    margin: 5px;
    color: complement($main-orange);
  }
}

.front-end-tools {
  grid-area: front;
}
.back-end-tools {
  grid-area: back;
}
.system-tools {
  grid-area: tools;
}
.design-tools {
  grid-area: design;
}

// PROJECTS

.projects {
  margin-top: 20px;
}
img {
  width: 100%;
  height: 175px;
  cursor: crosshair;
  object-fit: cover;
  border-radius: 5px;
}
// IMPORTANT -- DO NOT CHANGE THIS!
.demo-gif {
  display: none;
}

.project-wrapper {
  position: relative;
  width: 110%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  margin: 10px;
  &:hover {
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.35),
      -10px 10px 15px -10px rgba(0, 0, 0, 0.35),
      -0px 10px 15px -10px rgba(0, 0, 0, 0.35);
  }
}

.project-text {
  position: absolute;
  top: -10px;
  left: 0%;
  bottom: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparentize(#000, 0.5);
  border-radius: 5px;
  em {
    font-weight: 600;
  }
  p {
    position: relative;
    left: 10%;
    width: 75%;
    text-align: left;
    color: #fff;
    font-size: 1.2rem;
  }
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.5s ease;
  &:hover {
    opacity: 1;
    transform: translateY(10px);
  }
}

.project-links {
  display: flex;
  justify-content: center;
  a {
    pointer-events: none;
    display: inline;
    font-size: 1.2rem;
    background-color: transparentize(#000, 0.2);
    border-left: 2px solid orange;
    border-bottom: 2px solid orange;
    border-radius: 2px;
    padding: 5px;
    margin: 20px 15px 10px;
    transition: transform 0.5s ease, color 0.5s ease;
    &:hover {
      color: $off-white;
      transform: scale(1.05) translate(3px, 5px);
    }
  }
}
